.form {
  min-width: 150px;
  max-width: 1500px;
  width: 100%;
}

.full-width {
  width: 100%;
}

.form-card {
  max-width: 1500px;
}

.center {
  width: 50%;
  margin: 50px auto;
}

.submit-button {
  margin-top: 20px;
}
