<div class="wrapper">
  <!--Шапка сайта с меню-->
  <header class="header">
    <div class="d-flex flex-column flex-md-row align-items-center p-2 px-md-4">
      <h1 class="title mr-md-auto">Online-платформа ILearn</h1>
      <nav class="nav">
        <button mat-raised-button (click)="Login()">Войти</button>
      </nav>
    </div>
  </header>

  <main id="main">

    <div id="info_epigraph">
      <div>
        <h2 class="epigraph-text">
          Добро пожаловать в Online-платформу ILearn!<br>
          Мы предоставляем доступ к множеству курсов по разным направлениям от профессиональных преподавателей.
        </h2>
      </div>
    </div>

    <section class="info text-center">

      <div class="container">
        <h1 class="jumbotron-heading-title">Почему надо выбрать ILearn?</h1>
      </div>
    </section>

    <div class="container">

      <hr class="featurette-divider">

      <div class="row featurette" id="info_1">
        <div class="col-md-7">
          <h2 class="featurette-heading">Разнообразие курсов</h2>
          <p class="lead-info">
            На нашей платформе можно найти курсы по множеству тематик и направлений связанных с программированием и IT технологиями.
          </p>
        </div>
        <div class="col-md-5">
          <img class="img_1" src="../../assets/img1.png" width="100%" alt="#">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette" id="info_2">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading">Профессиональные преподаватели</h2>
          <p class="lead-info">
            Преподаватели на нашей платформе являются квалифицированными профессионалами с большим опытом работы в сфере IT.
          </p>

        </div>
        <div class="col-md-5">
          <img class="img_2" src="../../assets/img_2.jpg" width="100%" alt="#">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette" id="info_3">
        <div class="col-md-7">
          <h2 class="featurette-heading">Возможность получения реальных знаний</h2>
          <p class="lead-info">
            С помощью курсов на нашей платформе вы получите большое количество теоретических знаний и опыта работы с реальными проектами.
          </p>

        </div>
        <div class="col-md-5">
          <img class="img_3" src="../../assets/img_3.jpg" width="100%" alt="#">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette" id="info_2">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading">Хотите стать одним из наших преподавателей?</h2>
          <p class="lead-info">
            Если вы хотите преподавать на нашей платформе и обладаете достаточными навыками для этого, вы можете связаться с нами по почте
            ilearn@gmail.com для получения подробной информации.
          </p>

        </div>
        <div class="col-md-5">
          <img class="img_2" src="../../assets/img_4.jpg" width="100%" alt="#">
        </div>
      </div>

      <hr class="featurette-divider">
    </div>
    <footer class="center">
      <span class="copyright">
        © 2021
      </span>
    </footer>
  </main>
</div>

