.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
  background-color: #283593;
}

/*.sidenav .mat-toolbar {
  background: inherit;
}*/
mat-toolbar {
  border-bottom: aliceblue 2px solid;
}
.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-badge-content {
  right: 0px !important;
}

.mat-list-item {
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
  background-color: white;
}

.mat-list-item:hover {
  background-color: #b2dfdb;
}

.spacer {
  flex: 1 1 auto;
}

button {
  margin: 0 10px;
}

.mat-nav-list .mat-list-item {
  margin-bottom: 5px;
}
