<header class="header">
  <div class="d-flex flex-column flex-md-row align-items-center p-2 px-md-4">
    <h1 class="title mr-md-auto">Online-платформа ILearn</h1>
    <nav class="nav">
      <button mat-raised-button (click)="Main()">Главная</button>
    </nav>
  </div>
</header>
<mat-card class="login-card center">
  <mat-card-header>
    <mat-card-subtitle>Регистрация</mat-card-subtitle>
  </mat-card-header>
  <div *ngIf="isLoginError" class="error-message">
    <i class="material-icons">error</i> Неверный логин или пароль
  </div>
  <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)"
               size="medium"
               color="#ffffff"
               type="line-spin-fade">
  </ngx-spinner>

  <form #registrationForm="ngForm" class="login-form">
    <mat-form-field class="field-full-width">
      <input matInput #FIO ngModel name="FIO" placeholder="ФИО" value="" required>
    </mat-form-field>
    <mat-form-field class="field-full-width">
      <input matInput #UserName ngModel name="UserName" placeholder="Логин" value="" required>
    </mat-form-field>
    <mat-form-field class="field-full-width">
      <input matInput type="password" #Password ngModel name="Password" placeholder="Пароль" value="" required>
    </mat-form-field>
    <mat-form-field class="field-full-width">
      <input matInput #email ngModel name="email" placeholder="Email" value="" required>
    </mat-form-field>


    <div style="display:inline-block">
      <button mat-raised-button color="primary" [disabled]="!registrationForm.valid" (click)="OnSubmit(UserName.value, Password.value,
              email.value, FIO.value)">
        Зарегистрироваться
      </button>
    </div>
    <div class="sign-in">
      <button mat-raised-button color="primary" (click)="SignIn()">Войти</button>
    </div>

  </form>
</mat-card>
