<app-admin-nav>
  <mat-card class="form-card center">
    <form #directionForm="ngForm" class="form-card ">
      <mat-form-field class="input-width">
        <input matInput [(ngModel)]="newDirection.Direction" name="Direction" placeholder="Направление курсов" required>
      </mat-form-field>

      <div style="display:inline-block">
        <button mat-raised-button color="primary" [disabled]="!directionForm.valid" (click)="AddDirection()">
          Добавить
        </button>
      </div>

    </form>
    <h1>Направления курсов</h1>
    <table class="table table-striped">
      <thead>
        <tr class="head">
          <td>Id</td>
          <td>Направление курсов</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of tempResult$ | async">
          <td>{{item.Id}}</td>
          <td>{{item.Direction}}</td>
        </tr>
      </tbody>

    </table>
    <mat-paginator [length]="length"
                   [pageSize]="pageSize"
                   [pageIndex]="pageIndex"
                   [pageSizeOptions]="[10, 15]"
                   (page)="pageEvent = changePageEvent($event)">
    </mat-paginator>

  </mat-card>
</app-admin-nav>

